{% set types = ['notice','error','success','info'] %}
{% for type in types %}
    {% if app.session.hasFlash(type) %}
<div id="flash" style="display:none;" class="alert-message"></div>
<script type="text/javascript" >
//<![CDATA[
    setFlashMessage('{{ type }}', '{{ app.session.flash(type) | trans }}');    
//]]>
</script>
    {% endif %}
{% endfor %}    
{#
<?php if ( sfConfig::get('app_site_show_demo_flash', false) === true) : ?>
  setFlashMessage('<?php $type = rand(0,3); echo $types[$type] ?>', '<?php echo __('Test message') . ' ' .$types[$type] ?>', <?php echo sfConfig::get('app_site_flashes_timeout') ?>);
<?php endif; ?>



<div id="flash">
    <div class="alert-message warning">
        <a class="close" href="#">×</a>
        <p><strong>Holy gaucamole!</strong> Best check yo self, you’re not looking too good.</p>
    </div>
</div>

















{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}


<div class="alert-message error">
    <a class="close" href="#">×</a>
    <p><strong>Oh snap!</strong> Change this and that and try again.</p>
</div>
<div class="alert-message success">
    <a class="close" href="#">×</a>
    <p><strong>Well done!</strong> You successfully read this alert message.</p>
</div>
<div class="alert-message info">
    <a class="close" href="#">×</a>
    <p><strong>Heads up!</strong> This is an alert that needs your attention, but it’s not a huge priority just yet.</p>
</div>
#}

{#

{{ app.session.flash('notice') }}

<?php
/**
 * Flash messages using jQuery to show for a time only
 * 
 * @author Rafael Goulart <rafaelgou@gmail.com>
 * @see
 *   plugins/themeDynamicPlugin/config/app.yml all->site->flashes_timeout (default 5000ms)
 *   apps/APPLICATION/config/app.yml all->menus->site->flashes_timeout (default 5000ms)
 *   plugins/themeDynamicPlugin/config/app.yml all->site->show_demo_flash (true/false)
 *   apps/APPLICATION/config/app.yml all->menus->site->show_demo_flash (true/false)
 */
?>
<div id="flash" style="display:none;width:<?php echo ( $sf_theme->getConfig('percent-width')/2 ) ?>%;right: <?php echo ( (100-$sf_theme->getConfig('percent-width'))/2+1 ) ?>%;"></div>
<script type="text/javascript" >
//<![CDATA[
<?php 
$types = array('notice','error','success','info');
foreach ($types as $type) :
  if ($sf_user->hasFlash($type)): ?>
  setFlashMessage('<?php echo $type ?>', '<?php echo __($sf_user->getFlash($type), array()) ?>');
<?php
  endif;
endforeach;
?>
<?php if ( sfConfig::get('app_site_show_demo_flash', false) === true) : ?>
  setFlashMessage('<?php $type = rand(0,3); echo $types[$type] ?>', '<?php echo __('Test message') . ' ' .$types[$type] ?>', <?php echo sfConfig::get('app_site_flashes_timeout') ?>);
<?php endif; ?>
//]]>
</script>
#}