<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock %}Demo Site</title>

{% include 'ThemeBootstrapBundle::_head.html.twig' %}
{% block add_stylesheet %}{% endblock %}
{% block add_javascript %}{% endblock %}

    </head>

  <body>

    <div id="loading" style="display:none">Loading...</div>

{% include 'ThemeBootstrapBundle::_nav.html.twig' %}

    <div id="main_container" class="container{% if fluid is defined %}-fluid{% endif %}">
{% include "ThemeBootstrapBundle::_header.html.twig" %}

{% block content %}{% endblock %}

{% include "ThemeBootstrapBundle::_footer.html.twig" %}

    </div>

    <div id="dialog_form"></div>

  </body>
</html>