{% extends theme|default('ThemeBootstrapBundle::layout.html.twig') %}

{% block add_stylesheet %}
        <link rel="stylesheet" href="{{ asset('bundles/themebootstrap/bootstrap/css/docs.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('bundles/themebootstrap/bootstrap/js/google-code-prettify/prettify.css') }}" type="text/css" media="screen" />
{% endblock %}
{% block add_javascript %}
        <script type="text/javascript" src="{{ asset('bundles/themebootstrap/bootstrap/js/google-code-prettify/prettify.js') }}"></script>
{% endblock %}
        
{% block title %}Form - Bootstrap Twiter Theme{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>New or Editing <small></h1>
    </div>

    <div class="span12 columns">
<form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">Text input</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
              <p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">Checkbox</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                Option one is this and that—be sure to include why it's great
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select01">Select list</label>
            <div class="controls">
              <select id="select01">
                <option>something</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="multiSelect">Multicon-select</label>
            <div class="controls">
              <select multiple="multiple" id="multiSelect">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select03">Select list Chosen</label>
            <div class="controls">
              <select id="select03" class="chosen">
                <option>something</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="multiSelect2">Multicon-select Chosen</label>
            <div class="controls">
              <select multiple="multiple" id="multiSelect2" class="chosen">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="datepicker">DatePicker</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-calendar"></i></span><input type="date" id="datepicker" />
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="datetimepicker">DateTimePicker</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-time"></i></span><input type="text" id="datetimepicker" class="datetime"/>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="fileInput">File input</label>
            <div class="controls">
              <input class="input-file" id="fileInput" type="file">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Textarea</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="richtext">Richtext</label>
            <div class="controls">
              <textarea class="input-xlarge richtext" id="richtext"></textarea>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>

{% endblock %}