{% extends theme|default('ThemeBootstrapBundle::layout.html.twig') %}

{% block title %}Grid List - Bootstrap Twiter Theme{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Listing <small>or <a href="">add new</a></small></h1>
    </div>

    <div class="row">

        <!-- List -->
        <div class="span12 columns">
            <div>
                <table class="zebra-striped" id="sortTableExample">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall"/></th>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Language</th>
                            <th>Birthday</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>1</td>
                            <td>Your</td>
                            <td>One</td>
                            <td>English</td>
                            <td>10/07/2011</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>2</td>
                            <td>Joe</td>
                            <td>Sixpack</td>
                            <td>English</td>
                            <td>11/28/2008</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>3</td>
                            <td>Stu</td>
                            <td>Dent</td>
                            <td>Portuguese</td>
                            <td>03/14/2003</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>4</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>Portuguese</td>
                            <td>09/01/2000</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">

                <div class="span5 columns batch_action">

                    Actions
                    <select name="stackedSelect" id="stackedSelect" class="medium">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <button type="submit" class="btn primary">New</button>

                </div>

                <div class="span7 columns last pagination">

                    <ul>
                        <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next"><a href="#">Next &rarr;</a></li>
                    </ul>

                </div>

            </div>

        </div>

        <!-- Filter -->
        <div class="span4 columns">

            <form action="" class="form-stacked">
                <fieldset>
                    <legend>Filter</legend>
                    <div class="clearfix">
                    <label for="xlInput">X-Large Input</label>
                    <div class="input">
                    <input class="medium" id="xlInput" name="xlInput" size="30" type="text" />
                    </div>
                    </div><!-- /clearfix -->
                    <div class="clearfix">
                    <label for="stackedSelect">Select</label>
                    <div class="input">
                    <select name="stackedSelect" id="stackedSelect">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                    </div>
                    </div><!-- /clearfix -->
                </fieldset>
                <fieldset>
                <legend>Example form legend</legend>
                <div class="clearfix error">
                <label for="xlInput">X-Large Input</label>
                <div class="input">
                <input class="medium error" id="xlInput" name="xlInput" size="30" type="text" />
                <span class="help-inline">Small snippet of help text</span>
                </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                <label id="optionsCheckboxes">List of Options</label>
                <div class="input">
                <ul class="inputs-list">
                <li>
                <label>
                <input type="checkbox" name="optionsCheckboxes" value="option1" />
                <span>Option one is this and that&mdash;be sure to include why it’s great</span>
                </label>
                </li>
                <li>
                <label>
                <input type="checkbox" name="optionsCheckboxes" value="option2" />
                <span>Option two can also be checked and included in form results</span>
                </label>
                </li>
                </ul>
                <span class="help-block">
                <strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
                </span>
                </div>
                </div><!-- /clearfix -->
                </fieldset>
                <div class="actions">
                <button type="submit" class="btn primary">Filter</button>&nbsp;<button type="reset" class="btn">Reset</button>
                </div>
            </form>


        </div>

    </div>


{% endblock %}