{% extends theme|default('ThemeBootstrapBundle::layout.html.twig') %}

{% block title %}Grid List - Bootstrap Twiter Theme{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Listing <small>or <a href="{{ path('ThemeBootstrapBundle_form') }}">add new</a></small></h1>
    </div>

    <div id="no_records" class="alert-message warning">
        <p>
            {% trans %}No records found. You can filter again or{% endtrans %}
        </p>
        <p>
            <a href=""><button type="submit" class="btn primary">{% trans %}Add New{% endtrans %}</button></a>
        </p>
    </div>

    <div class="row">

        <!-- List -->
        <div class="span12 columns">
            <div>
                <table class="zebra-striped" id="sortTableExample">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall"/></th>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Language</th>
                            <th>Birthday</th>
                            <th>Actions</th>
                        </tr>
                   </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>1</td>
                            <td>Your</td>
                            <td>One</td>
                            <td>English</td>
                            <td>10/07/2011</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>2</td>
                            <td>Joe</td>
                            <td>Sixpack</td>
                            <td>English</td>
                            <td>11/28/2008</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>3</td>
                            <td>Stu</td>
                            <td>Dent</td>
                            <td>Portuguese</td>
                            <td>03/14/2003</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>4</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>Portuguese</td>
                            <td>09/01/2000</td>
                            <td>
                                <a href="">View</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">

                <div class="span5 columns batch_action">
                    Actions
                    <select name="batchSelect" id="batchSelect" class="small">
                        <option></option>
                        <option>Delete</option>
                    </select>
                    <button type="submit" class="btn primary">Add New</button>
                </div>

                <div class="span7 columns last pagination">
                    <ul>
                        <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next"><a href="#">Next &rarr;</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <!-- Filter -->
        <div class="span4 columns">

            <form action="" class="form-stacked">
                <fieldset>
                    <legend>Filter</legend>

                    <div class="clearfix">
                        <label for="firstname">First Name</label>
                        <div class="input">
                            <input class="medium" id="firstname" name="firstname" type="text" />
                        </div>
                    </div><!-- /clearfix -->

                    <div class="clearfix">
                        <label for="latstname">Last Name</label>
                        <div class="input">
                            <input class="medium" id="lastname" name="lastname" type="text" />
                        </div>
                    </div><!-- /clearfix -->

                    <div class="clearfix">
                        <label for="language">Language</label>
                        <div class="input">
                            <select name="language" id="language" class="medium">
                                <option></option>
                                <option>English</option>
                                <option>Portugues</option>
                            </select>
                        </div>
                    </div><!-- /clearfix -->

                    <div class="clearfix">
                        <label for="birthday">Birthday</label>
                        <div class="input">
                            from<br/>
                            <input class="small date" id="birthday_to" name="birthday_to" type="text" /><br/>
                            to<br/>
                            <input class="small date" id="birthday_from" name="birthday_from" type="text" />
                        </div>
                    </div><!-- /clearfix -->

                </fieldset>
                <div class="actions">
                <button type="submit" class="btn primary">Filter</button>&nbsp;<button type="reset" class="btn">Reset</button>
                </div>
            </form>


        </div>

    </div>

{% endblock %}